player-connection-mode=Listen
player-connection-guid=3571284822
player-connection-debug=0
player-connection-project-name=Addressable++
player-connection-ip=10.10.40.2
player-connection-ip=192.168.1.79
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
